::placeholder {
    text-align: center;
 }

 /* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type=number] {
    -moz-appearance: textfield;
}

input {
    text-align: center; 
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
}

.key {
    font-size: 1.5em;
    font-weight: 700;
    color: #f7f5f5;
}

.key-box {
    text-align: center;
    padding: 0.5em;
    width: 40%;
    height: 40%;
    background: #036600;
    border-radius: 0.5em 0.5em 0 0;
}

h1 {
    text-align: center;
    padding: 0.5em;
}

.box {
    text-align: center;
    padding: 1em;
    position: relative;
    width: 40%;
    height: 40%;
    justify-content: center;
    align-items: center;
    background: #f7f5f5;
    border-radius: 0 0 0.5em 0.5em;
    margin-bottom: 1em;
}

.container {
    border-radius: 5px;
    padding: 1em;
    display: flex;
    flex-direction: column;
    align-items: center;
}